@import url(menu.css);
@import url(slider.css);
@import url(videos.css);
@import url(footer.css);
@import url(gotop.css);
@import url(carousel.css);
:root{
    /* --red:#ff2e63; */
    --black:#252a34;
    --blue:rgb(0, 22, 41);
    /* --white:#eaeaea; */
    --white:#ffffff;
    --wt:#ddfbff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
