/*Acerca de*/

.acerca-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0;
}

.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px; 
    
}

.acerca-de .info-container .about-gallery .youtube{
    width: calc(33.33% -10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}
/*Acerca de*/